/*Fonts*/
@font-face {
    font-family: 'Inika';
    src: url('../fonts/inika-regular-webfont.woff2') format('woff2'),
         url('../fonts/inika-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kalam';
    src: url('../fonts/kalam-regular-webfont.woff2') format('woff2'),
         url('../fonts/kalam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Overarching elements*/

body{
    position: relative;
    min-height: 100vh;
    background-color: bisque;
    text-align: left;
}
main{
    padding-bottom: 3rem;
}
h1, h2, h3, h4, a{
    font-family: 'Kalam', Arial, Helvetica, sans-serif;  
}
a{  
    color: white;
    text-decoration: none;
}
p, li{
    font-family: 'Inika', Arial, Helvetica, sans-serif;  
}
footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.nonSidebar{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}
.cont__head{
    align-items: center;
    background-image: linear-gradient(180deg, #0179AD, #01628c);
    box-shadow: 0px 3px 5px rgb(1, 26, 70);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: .25rem 2rem;
    position: sticky;
    z-index: 3;
}
.cont__main{
    display: flex;
}
.cont__foot{
    align-items: center;
    background-image: linear-gradient(180deg, #0179AD, #01628c);
    color: white;
    display: flex;
    height: 3rem;
    justify-content: center;
    z-index: 2;
}
:visited{
    color: rgb(255, 255, 255);
}

table{
    background-color: white;
    border-spacing: 0px;
}
th{
    border: 2px solid black;
    height: 2rem;
    padding: .5rem;
    width: 5rem;
}
td{
    border: 2px solid black;
    max-height: 5rem;
    overflow: hidden;
    padding: .5rem;
    width: 20%;
}
.outerTd{
    position: relative;
}
.innerTd{
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 100%;
}
.recipeInput{
    padding: .5rem;
    width: 75%;
}

/*Index elements*/
.indexText{
    text-align: center;
}
.main__postArea{
    display: flex;
    justify-content: center;
}
.main__postReel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: 0 1rem;
    max-width: 80%;
}
.leadText{
    font-size: 3rem;
}

/*header styling*/
.header__search{
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    height: 2rem;
    margin: 0 auto;
    padding: .5rem 1rem;
    width: 70%;
}
.header__title{
    margin: 1rem 2rem;
}
.header__button{
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1rem;
    text-decoration: underline;
}
.header__recipes{
    margin: 0 0 0 1rem;
}
.header__button:hover{
    color: rgb(255, 200, 99);
}
.header__menuButton{
    display: none;
}
.header__mobileModal{
    background-color: white;
    display: none;
}
.modal__button{
    border: 1px solid rgb(71, 71, 71);
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
}
.open{
    display: none;
}


/*Category box*/
.main__categories{
    background-color: white;
    box-shadow: 3px 0 6px rgb(98, 98, 98);
    height: 100vh;
    min-width: fit-content;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1;
}
.main__categories__list{
    display: flex;
    flex-direction: column;
}
.category{
    align-items: center;
    display: flex;
    font-weight: bold;
    height: 1.5rem;
    max-height: 2rem;
}
.category__title{
    color: black;
    margin: 0 .5rem;
}
.category__title:hover{
    text-decoration: underline;
}


/*Recipe details*/
.detailsFeatured{
    height: 100%;
    margin: auto 0;
    width: 50%;
}
.recipeCard{
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    width: 80%
}
.recipeIngredients{
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem auto;
    padding: 1rem;
    width: 80%
}
.recipeInstructions{
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem auto;
    padding: 1rem;
    width: 80%
}
.recipeInfo{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
}
.recipeLine{
    padding: .5rem;
    text-align: center;
}
.returnLink{
    background-image: linear-gradient(180deg, #0179AD, #01628c);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: .5rem;
    width: 5rem;
}

/*Results*/
.results{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.search__results{
    margin: 0 auto;
}
/*Admin*/

.admin__actions{
    display: flex;
    flex-direction: row;
    margin: .5rem;
}
.admin__link{
    background-color: white;
    border: 2px solid black;
    border-radius: .5rem;
    color: black;
    padding: 1rem;
}
.admin__recipes{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}
.adminTableFunction{
    color: black;
    text-decoration: underline;
}
.searchForm{
    width: 100%;
}


.recipe__listing{
    display: flex;
    flex-direction: row;
}
.recipe__title{
    background-color: white;
    border: solid 2px black;
    width: 12rem;
    padding: 1rem;
}
.recipe__type{
    background-color: white;
    border: solid 2px black;
    width: 4rem;
    padding: 1rem;
}
.recipe__time{
    background-color: white;
    border: solid 2px black;
    width: 4rem;
    padding: 1rem;
}
.recipe__rating{
    background-color: white;
    border: solid 2px black;
    width: 4rem;
    padding: 1rem;
}
.recipe__edit{
    background-color: white;
    border: solid 2px black;
    width: 4rem;
    padding: 1rem;
    
}
.recipe__delete{
    background-color: white;
    border: solid 2px black;
    width: 4rem;
    padding: 1rem;
    
}
.editSubmit{
    background-image: linear-gradient(180deg, #0179AD, #01628c); ;
    color: white;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    width: 10rem;
}
.searchResultTable{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
}
.tableImage{
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 8rem;
}
.tableImage2{
    border-radius: 1rem;
    filter: brightness(100%);
    overflow: hidden;
    padding: 0;
    transition: all .3s ease-out;
    width: 12rem;
}
.imageContainer{
    align-items: center;
    display: flex;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.303));
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: .5rem;
    text-align: center;
}
.imageContainer:hover .tableImage2{
    filter: brightness(50%);
    transition: all .3s ease-out;
}

.imageContainerText{
    filter: opacity(0%);
    position: absolute;
    text-shadow: 5px 5px 5px black;
    transition: all .3s ease-out;
    width: 11.5rem;
    z-index: 100;
}
.imageContainer:hover .imageContainerText{
    filter: opacity(100%);
    transition: all .3s ease-out;
}
.recipesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.smallCol{
    width: 6rem;
}

.postText{
    color: white;
}

/*Reel*/
.featuredReelImage{
    width: 20rem;
}


@media screen and (max-width: 750px){
    .cont__head{
        flex-direction: column;
    }
    .header__menuButton{
        display: flex;
        height: 3.125rem;
    }
    .header__title{
        display: flex;
        justify-self: flex-start;
        width: 100%;
    }
    .open{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 650px){
    .main__categories{
        position: relative;
    }
    .main__categories__open{
        background-color: white;
        height: 2rem;
        width: 2rem;
    }
    footer{
        margin: 2rem 0 0 0;
    }
    .recipeCard{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .recipeLine{
        margin: .5rem 0;
        padding: 0;
    }
    .smallCol{
        display: none;
    }
    .nonSidebar{
        margin: 1rem 0;
    }
}
@media screen and (max-width: 580px){
    .main__categories{
        display: none;
    }
}
@media screen and (max-width: 360px){
    .tableImage{
       width: 4rem;
    }
}
@media screen and (max-width: 560px){
    .tableImage2{
        border-radius: 1rem;
        filter: brightness(100%);
        overflow: hidden;
        padding: 0;
        transition: all .3s ease-out;
        width: 6rem;
    }
    .imageContainerText{
        filter: opacity(0%);
        position: absolute;
        text-shadow: 5px 5px 5px black;
        transition: all .3s ease-out;
        width: 5.75rem;
        z-index: 100;
    }
}
@media screen and (max-width: 840px){
    .tableImage2{
        border-radius: 1rem;
        filter: brightness(100%);
        overflow: hidden;
        padding: 0;
        transition: all .3s ease-out;
        width: 9rem;
    }
    .imageContainerText{
        filter: opacity(0%);
        font-size: .8rem;
        position: absolute;
        text-shadow: 5px 5px 5px black;
        transition: all .3s ease-out;
        width: 8.8rem;
        z-index: 100;
    }
}
